@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

:root {
    --color-primary: #fff; 
    --color-secondary: #474a5f;
    --icon-size: 25px;
    --foreground: oklch(0.141 0.005 285.823);
    --muted: oklch(0.274 0.006 286.033);
    --shiki-default-bg: #000;
    --color-background: #2C3539;

}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-background);
    color: white;
    margin: 0;
font-family: 'Roboto';
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  color: var(--color-primary);

}

#root, #__next {
  isolation: isolate;
}

ul li {
    list-style-type: style none;
    padding-left: var(--size-5);
}